.alert{
    color: var(--white);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
    animation: fadeIn .7s ease-in 0s 1;
    transition: all 5s ease-out;
    text-transform: capitalize;
}

.alert__success{
    background-color: var(--green-dark);
    padding: 0 4rem;
}

.alert__fail{
    background-color: #EC4551;
    padding: 0 4rem;
}

.alert__clear{
    display: none;
}

.alert__item{
    padding: 3rem 0;
    font-size: 1.6rem;
}

.fadeIn{
    animation: fadeIn .7s ease-in 0s 1;
}

.fadeOut{
    animation: fadeOut .8s ease-in 5s 1;
}

.slideRight{
    animation: slideRight 3s ease-in 0s 1;
}

.slideRightOut{
    animation: slideRightOut 3s ease-in 0s 1;
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}

@keyframes slideRight{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes slideRightOut{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(100%);
    }
}