.card-city-section {
    padding: 117px 120px;

}

.card-city {
    background-color: #D9D9D9;
    height: 300px;
    border-radius: 0px 15px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-decoration: none;
    color: black;
}

.card-city:not(:last-child) {
    margin-right: 20px;
}

.card-city-title {
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
}

.card-city-list {
    width: 100%;
    display: flex;
}

.card-city-h4 {
    font-size: 35px;
    font-weight: 400;
}