.search-bg {
    background-color: #F0F0F0;
    margin-top: -10px;
}

.search-property {
    font-size: 40px;
    padding-top: 100px;
    padding-left: 320px;
    font-weight: 600;
}

.search-box {
    text-align: center;
    padding-top: -20px;
    padding-bottom: 100px;
} 

.search-bar {
    border-radius: 10px;
    width: 60%;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 20px;
}

.search-title {
    font-size: 25px;
    font-weight: 400;
    padding: auto;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 0px;
}

.city-list {
    display: flex;
    justify-content: center;
    margin: 20px 40px;
}

.city-card-container {
    padding: 10px;
    flex: 1;
}

.city-card {
    border-radius: 0px 30px 0px 30px;
    background-color: #D9D9D9;
    max-width: 483px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.city-h4 {
    font-size: 42px;
    font-weight: 700;
}