.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #F3F3F3;
  font-family: 'Poppins';
}

.column {
  flex-basis: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 10px;
}

.row img {
  max-width: 100%;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.fb, .in, .twitter {
  width: 18px;
  padding-left: 8px;
}

.in {
  width: 20px;
}

.footer-bottom {
  border-top: 1px solid #D2D2D2;
  text-align: center;
  padding-top: 20px;
  flex-basis: 100%;
  order: 6;
}

@media (min-width: 768px) {
  .column {
    flex-basis: calc(25% - 20px);
    margin-right: 20px;
    margin-bottom: 0;
  }

  .row {
    margin-bottom: 20px;
  }

  h4 {
    font-size: 22px;
    line-height: 33px;
  }

  .fb, .in, .twitter {
    width: 24px;
    padding-left: 10px;
  }

  .in {
    width: 24px;
  }
}
