  footer {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo {
    width: 33%;
    text-align: left;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .links {
    width: 33%;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: black;
  }

  ul li {
    font-size: large;
    list-style: none;
    text-decoration: none;
    color: black;
    padding-left: 0.5rem;
    margin: 0.5em;
  }
  
  .about-text {
    text-align: left;
    font-size: small;
  }

  .contact-text {
    text-align: left;
    font-size: small;
  }

  .tc {
    padding-bottom: 20px;
  }

  .links a {
    margin: 0 0.5rem;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .copy {
    width: 33%;
    text-align: center;
    margin-left: 35rem;
    margin-right: 35rem;
  }
  
  @media screen and (max-width: 768px) {
    footer {
      flex-direction: column;
    }
  
    .logo,
    .links,
    .copy {
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  