

.header {
    background-color: white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 100vw;
    margin: 0;
  }

  .headerContainer{
    display: flex;
    align-items: center;
    padding: 20px;

    justify-content: space-between;
    background-color: white;
    overflow: visible;

  }
  
  .header img {
    width: 200px;
    height: 100%;
  }
  
  .navbar {
    display: flex;

  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li:not(:last-child) {
    margin-right: 50px;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 600;
  }

  .navbarMobile{
    display: none;

  }

  @media (max-width: 768px) {
    .navbarMobile {
      display: flex;
    }
    .menuDesktop{
        display: none;
    }
    .header_mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: gray;
      }
      
      .header_mobile__logo {
        width: 50px;
        height: 50px;
      }
      
      .header_mobile__hamburguer {
        display: none;
        cursor: pointer;
      }
      
      .header_mobile__hamburguer-line {
        width: 30px;
        height: 2px;
        background-color: black;
        margin: 5px 0;
      }
      
      .header_mobile__navbar {
        display: none;
      }
      
      .header_mobile__navbar--open {
        display: flex;
      }
            
      
  }