

.header {
    background-color: white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 100vw;
    margin: 0;
  }

  .headerContainer{
    display: flex;
    align-items: center;
    padding: 35px 0;

    justify-content: space-between;
    background-color: white;
    overflow: visible;
    width: 100%;
  }

  .logoHeaderContainer{
    padding-left: 20px;
  }

  .logoHeader {
    width: 200px;
    height: 100%;
  }
  
  .navbar {
    display: flex;
    transform: translateX(-10%);
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
    .navbar li:not(:last-child) {
        margin-right: 30px;
    }

    .navbar li:hover {
        transition: all .2s ease-in;
        transform: translateY(-3px);
    }

    .navbar li:active {
        transform: translateY(0px);
    }

  
  .navbar a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 600;
    transition: all .2s ease-in;
  }

  .navbar a:hover {
    color: #6617E2;
  }

  .menuIcon {
    width: 32px;
    height: 32px;
    display: none;
  }

  @media (max-width: 768px) {
    .menuDesktop{
        display: none;
    }

    .headerContainer {
        justify-content: center;
    }

    .header_mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: gray;
      }
      
      .header_mobile__logo {
        width: 50px;
        height: 50px;
      }
      
      .header_mobile__hamburguer {
        display: none;
        cursor: pointer;
      }
      
      .header_mobile__hamburguer-line {
        width: 30px;
        height: 2px;
        background-color: black;
        margin: 5px 0;
      }
      
      .header_mobile__navbar {
        display: none;
      }
      
      .header_mobile__navbar--open {
        display: flex;
      }
            
      .menuIcon {
        display: block;
        position: absolute;
        left: 5%;
      }

        .logoHeader {
            max-width: 179px;
            width: 100%;
            height: 100%;
        }

        .navbar a {
            font-size: 18px;
        }

        .navbar ul {
            flex-direction: column;
        }
  }