.mylistCard{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 230px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    overflow: hidden;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.myimageListContainer{
    background-color: rgb(218, 214, 214);
    height: 70%;
    z-index: 0;
    overflow: hidden;
}
.myimgList{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.myfavoriteIcon{
    float: right;
    margin-top: 5px;
    margin-right: 25px;
}

.myinfoList{
    font-size: small;
    background-color:grey;
    height: 30%;
    padding-left: 5%;
    color: white;
    padding-top: 5px;
    font-weight: bold;
    z-index: 5;
}
.mylistPrice{
    padding-top: 1px;
}
.mylistArea{
    font-weight:normal;
}
.mylistAddress{
    padding-top: 2px;
    font-weight:normal;
    font-size: smaller;
}