/* ------------------------------------ */

.myListPageItemContainer{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 25% auto;
    border-radius: 10px;
    overflow: hidden ;
    margin-bottom: 25px;
}

.myListItemImageContainer{
    height: 200px;
    overflow: hidden;
    padding: 10px;
}
.myListItemImage{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: aliceblue;
    overflow: hidden;
    object-fit: cover;
}

.myListItemInfoContainer{
    padding: 30px;
}
.myListItemInfo{
    padding: 5px;
}

.myListItemPrice{
    font-weight: bold;
    font-size: 1.5rem;
}

.myListItemPropType{
    font-weight: bold;
}

.myListItemRemove{
    float: right;
    color: gray;
    cursor: pointer;
}