*{
    border: 0px dotted black;
}

.postModalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
}

.postModal {
    width: 95vw;
    height: 95vh;
    border-radius: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: 60% auto;
    overflow: hidden;
}

.infoSection-postModal {
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
}
.infoSection-postModal::-webkit-scrollbar {
    width: 10px;
}
.infoSection-postModal::-webkit-scrollbar-track {
    background: white;
}
.infoSection-postModal::-webkit-scrollbar-thumb {
    background: #888;
}
.infoSection-postModal ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.price-postModal{
    font-weight: bolder;
    font-size: 1.7rem;
    padding-bottom: 10px;
}

.infoSection1-postModal{
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: 10px;
}

.infoSection2-postModal{
    padding-bottom: 20px;
}

.map-postModal{
    width: 100%;
    height: 50%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: scale(1);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.tomMap{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 100%;
    width: 100%;
    z-index: 99;
    overflow: hidden;
}

.infoSection3-postModal{

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 2%;
}

.info1-3postModal{
    background-color: #222222;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    margin: 3px;
    padding: 10px;

}

.sourceLink-postModal{
    padding-top: 15px;
    display: block;
}

.infoTitle-postModal{
    text-align: center;
    font-size: 0.8rem;
}

.info3-postModal{
    text-align: center;
    padding-top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.sourceLink-postModal{
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 25px;
}

/* --------------------------------------- */

.save-postModal{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:35px;

}

.saveToList-postModal{
    background-color: #6617E2;
    color: white;
    display: flex;
    cursor: pointer;
    align-items: center;
    width: fit-content;
    padding-left: 5px;
    padding-right: 20px;
    border-radius: 5px;
    transition: 0.4s;
    transform: translateY(10px);
}
.saveToList-postModal:hover{
    background-color: #7a3ae0;
}

.saveToList-Text-postModal{
    font-size: 0.8rem;
    font-weight: bold;
}

.saveToList-icon-postModal1{
    transform: scale(0.5);
}


.saveListPoup-Container{
    position: absolute;
    margin-top: 48px;
    margin-left: 19%;
    color: black;

    width: 100px;

    z-index: 999;

    padding: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.AddListContainer{
    display: flex;
    align-items: center;
}

.saveListInput{
    width: 80%;
    padding: 10px;
}

.AddListPlusButton{
    background-color: #FFAF08;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.OptionListItem{
    display: flex;
    align-items: center;
}

.ListNameOptList{
    padding-left: 5px;
    font-size: 0.85rem;
}

.SaveToListButton{
    background-color: #FFAF08;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 7px;
    text-align: center;
    transition: 0.5s;
}
.SaveToListButton:hover{
    transform: scale(1.05);
}

.pictureSection-postModal{
    display: grid;
    padding: 15px;
    grid-template-columns: auto;
    grid-template-rows: 10%;

}

.mainImage-postModal{
    background-color: #cecece;
    width: 95%;
    overflow: hidden;
    height: 95%;
    border-radius: 25px;
}

.imageGallery-postModal{
    margin-top: 10px;
    width: 95%;
    display: grid;
    grid-template-rows: 50% auto;
    grid-template-columns: 50% auto;
    grid-gap: 10px;
}

.image-postModal{
    background-color: #e2e0e0;
    overflow: hidden;
    border-radius: 20px;
}

.imgPostModal{
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* ------------------------ */

.closePostModal{
    font-family: sans-serif;
    position: absolute;
    cursor: pointer;
    left: 97%;
    top: 2%;
    font-size: x-large;
}

.hide{
    display: none;
}