.statsModalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-family: Arial, Helvetica, sans-serif;
}

.statsModal {
    width: 97vw;
    height: 98vh;
    border-radius: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       overflow: hidden;
}

.statsModalTitle{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    padding-bottom: 10px;
    margin: 5px;
}

.statsModalInfoContainer{
    display: grid;
    grid-template-columns: 600px auto;
    margin: 5px;

}

.statsModalsection1{
    display: flex;
    flex-direction: column;
    padding: 14px;
    margin: 5px;

}



.statsModalStatsSnippetsContainer{
    width: 100%;
    height: 140px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 5px;

}

.statsModalStatsSnippets{
    background-color: #5A5A5A;
    color: white;
    padding: 2px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 30%;
    margin: 5px;

}

.statsModalSnippetPrice{
    font-weight: bold;
    margin: 5px;

}


.statsModalSnippetTitle{
    font-size: 0.7rem;
    margin: 5px;

}
.statsModalSnippetPart1{
    margin-left: 5px;
}

.statsModalSnippetPart2{
    position: relative;
    transform: translate(-70%, 2%);
    margin: 5px;

}

.chartContainer{
    width: 100%;
    height: 200px;
    margin: 5px;
    margin-bottom: 25px;
}

.chartBarTitle{
    font-weight: bold;
    margin: 5px;

}

.statsModalPieChars{
    width: 100%;
    height: 100px;
    margin: 5px;

}

.statsModalPieChartsTitle{
    font-weight: bold;
    margin: 5px;

}


.pieChartCircleGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    margin: 5px;
    height: 150px;
}

.pieChartDesc{
    font-size: 0.8rem;
    margin: 5px;

}

.pieChartRender{
   margin: 5px;
   margin-top: -6px;

}

.pieChartCenterText {
    font-size: 8px;
    margin: 5px;

  }

  .text-pieChart{
    transform: translateY(2%);
    font-weight: bold;
    margin: 5px;

  }

  .statsModalMapContainer{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    margin: 5px;

  }

  .tomMapStatModal{
    height: 94%;
    width: 98%;
    border-radius: 25px;
  }

