.statsModalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.statsModal {
    width: 97vw;
    height: 98vh;
    border-radius: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.statsModalTitle {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    padding-bottom: 5px;
    margin: 5px;
    margin-bottom: 0px;
}

.statsModalInfoContainer {
    display: grid;
    grid-template-columns: 600px auto;
    margin: 5px;

}

.statsModalsection1 {
    display: flex;
    flex-direction: column;
    padding: 14px;
    padding-top: 2px;
    margin: 5px;
    margin-top: 0px;

}



.statsModalStatsSnippetsContainer {
    width: 100%;
    height: 20%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    margin: 5px;
    margin-top: 0px;
}

.statsModalStatsSnippets {
    background-color: #5A5A5A;
    color: white;
    padding: 2px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 30%;
    margin: 5px;
    margin-top: 0px;

}

.statsModalSnippetPrice {
    font-weight: bold;
    margin: 5px;

}

/* update the code, when the element with class "saveToList-postModal", a small elementer should render on top of it
 */

.statsModalSnippetTitle {
    font-size: 0.7rem;
    margin: 5px;

}

.statsModalSnippetPart1 {
    margin-left: 5px;
}

.statsModalSnippetPart2 {
    position: relative;
    transform: translate(-70%, 2%);
    margin: 5px;

}

.chartContainer {
    width: 100%;
    height: 200px;
    margin: 5px;
    margin-top: 1px;
    margin-bottom: 25px;
}

.chartBarTitle {
    font-weight: bold;
    margin: 5px;
    margin-top: 1px;

}

.statsModalPieChars {
    width: 100%;
    height: 100px;
    margin: 5px;

}

.statsModalPieChartsTitle {
    font-weight: bold;
    margin: 5px;
    margin-top: 1px;
}


.pieChartCircleGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    margin: 5px;
    margin-top: 1px;
    height: 150px;
}

.pieChartDesc {
    font-size: 0.8rem;
    margin: 5px;
    margin-top: 1px;

}

.pieChartRender {
    margin: 5px;
    margin-top: -6px;

}

.pieChartCenterText {
    font-size: 8px;
    margin: 5px;

}

.text-pieChart {
    transform: translateY(2%);
    font-weight: bold;
    margin: 5px;

}

.statsModalMapContainer {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    margin: 5px;

}

.tomMapStatModal {
    height: 94%;
    width: 98%;
    border-radius: 25px;
}

@media (max-width:850px) {
    .statsModalContainer {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        width: 100%;
    }

    .statsModal {
        height: max-content;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 0px;
        overflow: visible;
    }

    .closePostModal {
        left: 93%;
    }



    .statsModalStatsSnippetsContainer {
        width: 80%;
        height: 30%;
    }

    .statsModalSnippetPrice {
        font-size: 1.3rem;
    }

    .statsModalSnippetPart2 {
        transform: translate(-110%, 20%)
    }

    .chartContainer {
        margin-left: -22px;
    }

    .chartBarTitle {
        margin-left: 22px;
    }

    .pieChartCircleGrid {
        grid-template-columns: auto;

        overflow: hidden;
        margin: 5px;
        margin-top: 1px;
        height: 460px;
    }

    .statsModalPieChartsTitle {
        display: none;
    }

    .statsModalPieCharts {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pieChartDesc {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .pieCharCircle {
        width: 400px;
    }

    .pieChartRender {
        height: 150px;
    }

}