.search {
    background-image: url('../../Assets/banner_v2-4\ 1.png');
    background-size: cover;
    background-color: white;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 950px;
    width: 100%;
}

.search-label {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 20px;
}

.searchSlogan{
    width: 55%;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    padding-bottom: 30px;

}

.search-input-group {
    width: 100%;
    position: relative;
}

.search-input {
    width: 100%;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    padding: 30px;
    outline: none;
    box-sizing: border-box;
    background: #F7F7F7;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.21);}

.search-icon {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-city-h4{
    font-weight: bold;
}