/* Default styles */
.profile-container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 80vh;
  font: Poppins;
}

.left {
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.name {
  margin: 0 0 20px;
  margin-top: 3rem;
  padding-left: 4.5rem;
  font-family: Poppins;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.links {
  margin: 0 0 20px;
  text-decoration:none;
}

.links a {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  text-decoration:none;
}

ul {
  list-style-type: none;
  text-decoration:none;
}

ul img {
  padding-right: 60px;
}

.account-info  {
  border-bottom: 2px solid #8E8E8E;
  padding: 15px;
  text-align: left;
  padding-top: 4rem;
  font-weight: lighter;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;

}

.my-lists {
  border-bottom: 2px solid #8E8E8E;
  padding: 15px;
  text-align: left;
  font-weight: lighter;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
}

.logout {
  padding: 15px;
  text-align: left;
  font-weight: lighter;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
}

.account-info:hover  {
  font-weight: bold;
}

.my-lists:hover {
  font-weight: bold;
}

.logout:hover {
  font-weight: bold;
}


.right {
  padding: 25px;
  margin-top: 11.5rem;
  margin-left: 5rem;
  width: 50%;
}

.nextIcon {
  margin-left: 700px;;

}

.input-field {
  margin-bottom: 20px;
  position: relative;
  
}

.input-field input {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #E7E7E7;
  font-weight: lighter;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  height: 34px;
  left: 748px;
  top: 349px;
  line-height: 33px;
}

.input-field i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #E7E7E7;
  cursor: pointer;
  font-weight: 400;
}

.change-password {
  display: block;
  margin-top: 4rem;
  color: #888888;
  width: 272px;
  height: 33px;
  left: 748px;
  top: 575px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-decoration-line: underline;

}

.buttons {
  display: flex;
  justify-content: space-between;
  font: Poppins;
  font-weight: 400;
  margin-top: 5rem;
  width: 80%;
}

.cancel,
.save {
  padding: 12px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  width: 45%;
  font-size: 18px;
  font-weight: lighter;
}

.cancel {
  background-color: #F1F1F6;
  border: 2px solid #6617E2;
  text-align: center;
  color: #6617E2;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.save {
  background-color: #6617E2;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

/* .cancel:hover {
  background-color: #6617E2;
}

.save:hover {
  background-color: #6617E2;
} */

/* Responsive styles */
@media screen and (max-width: 768px) {
  .profile-container {
    grid-template-columns: 1fr;
  }

  .left,
  .right {
    padding: 20px;
  }

  .links a {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .logout {
    padding: 10px;
    font-size: 14px;
  }

  .input-field input {
    font-size: 16px;
    padding: 15px;
  }

  .input-field i {
    right: 15px;
  }

  .change-password {
    font-size: 14px;
  }

  .cancel,
  .save {
    font-size: 16px;
    padding: 10px 15px;
  }
}
