

.pageContainer{
    background-color: white;
    display: grid;
    grid-template-columns: 45vw auto;
    height: 100vh;
}

.menuContainer{
    background-color: white;
    overflow-y: scroll;
}
.menuContainer::-webkit-scrollbar {
    width: 20px;
  }

.filtersContainer{
    background-color: rgb(247, 247, 247);
    height: 80px;
    display: grid;
    grid-template-columns: 20% 25% 25% 25%;
    justify-content: center;
    align-items: center;
}

.FilterDropdown{
    padding: 10px;
    border-radius: 10px;
    border: 0;
    margin-left: 10px;
    background-color: rgb(253, 253, 253);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.FilterTitle{
    padding-left: 10px;
    font-weight: bold;


}

.searchBarContainer{
    height: 90px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.searchBarForm{
    width: 95%;
    display: flex;
}

.searchBar{
    border: 0;
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    height: 25px;
    background-color: rgb(235, 232, 232);
    font-size:smaller;
}

.searchBarSubmit{
    background-color: rgb(226, 226, 226);
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateX(-90%);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.searcTitle{
    padding-left: 20px;
    font-weight: bold;
    font-size: 26px;
}

.toggleButtonContainer{
    margin-left: 3%;
    background-color: rgb(201, 201, 201);
    width: fit-content;
    display: flex;
    border-radius: 55px;

}

.toggle{
    padding: 8px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: smaller;
    font-weight: 700;
    cursor: pointer;
}
.toggleListings{
    border-radius: 55px;
    background-color: rgb(224, 224, 224);
}

.seeAllButton{
    float: right;
    transform: translateY(-120%);
    padding-right: 10px;
    font-size: smaller;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.listContainer{
    height: 100%;
    margin-top: 25px;
}

.postListings{
    display: grid;
    grid-template-columns: 50% 50%;
}


/* --------Loading Stuff--------------------------- */

.loadContainer{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 55%;
    left: 10%;

    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FFAF08;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* ------------------------------------------- */


.analyticsToggle{
    position: absolute;
    left: 90%;
    margin-top: 15px;
    z-index: 990;
    background: #6617E2;
    color: white;
    padding: 13px;
    border-radius: 8px;
    cursor: pointer;
}
.analyticsToggle:hover{
    background: #7d40df;
}


.analyiticIconPNG{
    width: 17px;
    margin-right: 5px;
}

.analyticsToggle{
    display: flex;
    align-items: center;
    justify-content: center;

}