

.pageContainer{
    background-color: white;
    display: grid;
    grid-template-columns: 45vw auto;
    height: 100vh;
}

.menuContainer{
    background-color: white;
    overflow-y: scroll;
}
.menuContainer::-webkit-scrollbar {
    width: 20px;
  }

.filtersContainer{
    background-color: rgb(247, 247, 247);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.FilterDropdown{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(253, 253, 253);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: 'Poppins';
    cursor: pointer;
}

.FilterTitle{
    padding-left: 40px;
    font-weight: bold;
    margin-right: 58px;
}

.FilterType {
    margin-right: 30px;
}

.filtersContainer {
    margin-bottom: 40px;
}

.searchBarContainer{
    height: 90px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.searchBarForm{
    position: relative;
    width: 100%;
    display: flex;
}

.searchBar{
    border: 0;
    padding: 32px;
    border-radius: 10px;
    width: 95%;
    height: 25px;
    background-color: #F5F5F5;
    font-size: 18px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 auto;
}

.searchBar::placeholder {
    color: #000000;
}

.searchBarIcon{
    position: absolute;
    right: 2%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 48px;
    height: 48px;
}

.searcTitle{
    padding-left: 20px;
    font-weight: bold;
    font-size: 26px;
}

.toggleButtonContainer{
    margin-left: 3%;
    background-color: rgb(201, 201, 201);
    width: fit-content;
    display: flex;
    border-radius: 55px;

}

.toggle{
    padding: 8px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: smaller;
    font-weight: 700;
    cursor: pointer;
}
.toggleListings{
    border-radius: 55px;
    background-color: rgb(224, 224, 224);
}

.seeAllButton{
    float: right;
    transform: translateY(-120%);
    padding-right: 10px;
    font-size: smaller;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.listContainer{
    height: 100%;
    margin-top: 25px;
}

.postListings{
    display: grid;
    grid-template-columns: 50% 50%;
}


/* --------Loading Stuff--------------------------- */

.loadContainer{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 55%;
    left: 10%;

    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FFAF08;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 50px 0 0;
  letter-spacing: 0.025em;
  color: #5b85c0;
  background-image: -webkit-linear-gradient(90deg, #a558d4 0%, #34619e 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
} */

/* .pageContainer p {
  margin: 0;
  position: relative;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.025em;
  background-image: -webkit-linear-gradient(90deg, #a558d4 0%, #34619e 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
} */

.button-row-container {
  width: 250px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0;
  border: 1px solid #a6a6a6;
  padding: 1em;
}

.button-container {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 2px;
  height: 45px;
  width: 200px;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

/* -------------------------------- 
			Switch
-------------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 47px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.19);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 38px;
    width: 38px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 15%;
    background-color: #747474;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6617E2;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    left: 85%;
    background-color: white;
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    color: white;
    display: none;
  }

  .off {
    color: #222222;
  }
  
  .on, .off
  {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 18px;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}

/* ////////////////////////// */

.mapContainer {
    position: relative;
}

.map-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 12px;
    box-sizing: border-box;
}

.analyticsToggle{
    position: relative;
    display: block;
    background: #6617E2;
    color: white;
    padding: 3px;
    border-radius: 14px;
    width: 155px;
    height: 47px;
    box-sizing: border-box;
    cursor: pointer;
}
.analyticsToggle:hover{
    background: #7d40df;
}


.analyiticIconPNG{
    width: 17px;
    margin-right: 10px;
}

.analyticsToggle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.analyticsToggleText {
    font-size: 18px;
}

.mappop-img {
    max-width: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.mappop-price {
    font-size: 18px;
    color: black
}


/* tomtom map override default css */

.mapboxgl-popup-content {
    padding: 10px;
    border-radius: 10px;
}

.mapboxgl-popup-close-button {
    right: 15px;
    top: 15px;
    background-color: #6617E2;
    color: #ffffff;
    border-radius: 40px;
    width: 20px;
    height: 20px;
}

.mapboxgl-popup-close-button:hover {
    background-color: #6617E2;
}

.marker-icon {
    width: 10px;
    height: 10px;
}

.marker {
    height: 30px;
    width: 30px;
}
.marker-content {
    background: #c30b82;
    border-radius: 50% 50% 50% 0;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 30px;
    cursor: pointer;
}

/* ////////////////////////////////// */

@media screen and (max-width: 1024px) {
    .pageContainer {
        grid-template-columns: 100% 100%;
        grid-template-areas: "mapContainer" "menuContainer";
    }

    .mapContainer {
        grid-area: mapContainer;
    }

    .menuContainer{
        grid-area: menuContainer;
    }

    .menuContainer {
        z-index: 100000;
        position: absolute;
        transform: translate(-50%, 0%);
        left: 50%;
        bottom: -52%;
        height: 100vh;
    }
}