

.pageContainer{
    background-color: white;
    display: grid;
    grid-template-columns: 45vw auto;
    height: 100vh;
}

.menuContainer{
    background-color: white;
    overflow-y: scroll;
}
.menuContainer::-webkit-scrollbar {
    width: 20px;
  }

.filtersContainer{
    background-color: rgb(247, 247, 247);
    height: 80px;
    display: grid;
    grid-template-columns: 20% 25% 25% 25%;
    justify-content: center;
    align-items: center;
}

.FilterDropdown{
    padding: 10px;
    border-radius: 10px;
    border: 0;
    margin-left: 10px;
    background-color: rgb(253, 253, 253);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.FilterTitle{
    padding-left: 10px;
    font-weight: bold;


}

.searchBarContainer{
    height: 90px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.searchBarForm{
    width: 95%;
    display: flex;
}

.searchBar{
    border: 0;
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    height: 25px;
    background-color: rgb(235, 232, 232);
    font-size:smaller;
}

.searchBarSubmit{
    background-color: rgb(226, 226, 226);
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateX(-90%);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.searcTitle{
    padding-left: 20px;
    font-weight: bold;
    font-size: 26px;
}

.toggleButtonContainer{
    margin-left: 3%;
    background-color: rgb(201, 201, 201);
    width: fit-content;
    display: flex;
    border-radius: 55px;

}

.toggle{
    padding: 8px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: smaller;
    font-weight: 700;
    cursor: pointer;
}
.toggleListings{
    border-radius: 55px;
    background-color: rgb(224, 224, 224);
}

.seeAllButton{
    float: right;
    transform: translateY(-120%);
    padding-right: 10px;
    font-size: smaller;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.listContainer{
    height: 100%;
    margin-top: 25px;
}

.postListings{
    display: grid;
    grid-template-columns: 50% 50%;
}


/* --------Loading Stuff--------------------------- */

.loadContainer{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 55%;
    left: 10%;

    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FFAF08;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 50px 0 0;
  letter-spacing: 0.025em;
  color: #5b85c0;
  background-image: -webkit-linear-gradient(90deg, #a558d4 0%, #34619e 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}

.pageContainer p {
  margin: 0;
  position: relative;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.025em;
  background-image: -webkit-linear-gradient(90deg, #a558d4 0%, #34619e 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}

.button-row-container {
  width: 250px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0;
  border: 1px solid #a6a6a6;
  padding: 1em;
}

.button-container {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 2px;
  height: 45px;
  width: 200px;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

/* -------------------------------- 
			Switch
-------------------------------- */
.switch-container {
  display: inline-block;
  margin: 10px 10px;
}

/*** Toggle Slide Style ***/
.switch-toggle-slide {
  width: 250px;
  height: 20px;
  border: 1px solid rgba(218, 220, 222, 0.7);
  border-radius: 3px;
  will-change: transform;
  background: rgba(74, 82, 85, 0.8);
  position: relative;
}
.switch-toggle-slide span.active {
  display: block;
  position: absolute;
  left: 0;
  width: 125px;
  height: 20px;
  background: rgba(218, 220, 222, 0.7);
  z-index: -1;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.switch-toggle-slide .switch-slide {
  width: 125px;
  height: 20px;
  display: inline-block;
  float: left;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  background: transparent;
  color: white;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.switch-toggle-slide .switch-slide#slide-on {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.switch-toggle-slide .switch-slide#slide-off {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.switch-toggle-slide .switch-slide.active-switch {
  color: #3c3c3c;
}

/*** Slim Switch Style ***/
input.slim {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
input.slim + label {
  display: block;
  position: relative;
  text-indent: -5000px;
  height: 10px;
  width: 40px;
  border-radius: 15px;
}
input.slim + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: transparent;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
input.slim + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  top: -5px;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
input.slim:checked + label:before {
  width: 40px;
}
input.slim:checked + label:after {
  left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input#slim-blue + label {
  background: rgba(60, 187, 247, 0.7);
}
input#slim-blue + label:after {
  background: #3CBBF7;
}
input#slim-blue:checked + label:before {
  background: rgba(60, 187, 247, 0.7);
}

input#slim-red + label {
  background: rgba(231, 76, 60, 0.7);
}
input#slim-red + label:after {
  background: #E74C3C;
}
input#slim-red:checked + label:before {
  background: rgba(231, 76, 60, 0.7);
}

input#slim-green + label {
  background: rgba(19, 191, 17, 0.7);
}
input#slim-green + label:after {
  background: #13bf11;
}
input#slim-green:checked + label:before {
  background: rgba(19, 191, 17, 0.7);
}

input#slim-black + label {
  background: rgba(0, 0, 0, 0.7);
}
input#slim-black + label:after {
  background: black;
}
input#slim-black:checked + label:before {
  background: rgba(0, 0, 0, 0.7);
}

/*** iOS Style ***/
input#ios {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  position: absolute;
  left: -9999px;
  pointer-event: none;
}
input#ios + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #a6a6a6;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}
input#ios + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: transparent;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
input#ios + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
input#ios:checked + label:before {
  width: 50px;
  background: #13bf11;
}
input#ios:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*** Skewed Switch Style ***/
.switch-skewed {
  position: relative;
  height: 30px;
  width: 50px;
  margin: 0;
  background: #a6a6a6;
  transform: skew(-15deg, 0);
  overflow: hidden;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.switch-skewed .skewed-container {
  width: 100px;
  height: 30px;
  transform: skew(15deg, 0);
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.switch-skewed .skewed {
  float: left;
  height: 30px;
  width: 50px;
  display: inline-block;
  color: white;
}
.switch-skewed:hover {
  background: #13bf11;
}
.switch-skewed:hover .skewed-container {
  transform: translateX(-50px) skew(15deg, 0);
}

/*** Flat Switch Style ***/
.switch-flat {
  height: 35px;
  width: 35px;
  margin: 0;
  background-image: -webkiet-linear-gradient(#ece9e9 10%, #ffffff 100%);
  background-image: linear-gradient(#ece9e9 10%, #ffffff 100%);
  -webkit-box-shadow: inset 0px 1px 1px #aeaaaa;
  box-shadow: inset 0px 1px 1px #aeaaaa;
  border-radius: 50%;
  overflow: hidden;
}
.switch-flat .flat-container {
  height: 70px;
  width: 35px;
  color: #a6a6a6;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 50%;
}
.switch-flat .flat {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  z-index: -1;
}
.switch-flat .flat.flat-off {
  background: transparent;
}
.switch-flat .flat.flat-on {
  color: white;
  font-size: 15px;
}
.switch-flat:hover {
  background: rgba(19, 191, 17, 0.7);
  -webkit-box-shadow: inset 0px 1px 1px #13bf11;
  box-shadow: inset 0px 1px 1px #13bf11;
}
.switch-flat:hover .flat-container {
  transform: translateY(-35px);
}
/* ------------------------------------------- */


.analyticsToggle{
    position: absolute;
    left: 90%;
    margin-top: 15px;
    z-index: 990;
    background: #6617E2;
    color: white;
    padding: 13px;
    border-radius: 8px;
    cursor: pointer;
}
.analyticsToggle:hover{
    background: #7d40df;
}


.analyiticIconPNG{
    width: 17px;
    margin-right: 5px;
}

.analyticsToggle{
    display: flex;
    align-items: center;
    justify-content: center;

}